body{
    font-family: 'Poppins', sans-serif;
    color:  blueviolet;

}

h1{

    font-size: 50px;
}

p{
    color: lightslategrey;
    font-weight: bold;
}

.blue-color{
    color:blue;

}

section{
    display: flex;
}